* {
  max-width: fit-content;
  max-height: max-content;
}

p {
  border: black 1px solid;
  padding: 10%;
}

img {
  margin: 10%;
  border: black 5px solid;
  width: 100px;
  height: 100px;
}

#a1 {
    border: black 1px solid;
    padding: 25px 50px 75px
}
