#p1{
    text-overflow: clip;
    transition-duration: 10s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: all;
    color: brown;
}
#p2{
    text-align: center;
    text-transform: uppercase;
    color: palevioletred;
    background-color: black;
}

#section1{
    background-color: red;
}
#section2{
    background-color: purple;
}

#a1{
    color: white;
    font-size: 35px;
}

#a2{
    color: grey;
    font-size: 54px;
}

h3{
    color: green;
}