.container {
    padding: 2em;
}

img {
    width: 300px;
    float: left;
    margin-right: 1%;
}

img:hover {
    border: 20px ridge #314a20;
}

#p1::first-line {
    background-color: #C1C2BC;
}

p {
    margin-top: 2%;
}

#p2::first-letter {
    font-size: 70%;
    color: #533618;
}

button:hover {
    background-color: #533618;
    color: #C1C2BC;
}

iframe {
    float: right;
    margin-left: 1%;
}

ul {
    margin-top: 4%;
}

.copyright::after {
    content: "© Caio Farias "; 
}

footer{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}